:host {
  display: block;
}

.bg-gray-50 {
  background-color: #ececec;
}

.bg-primary {
  background-color: #26496f;
}

.bg-accent {
  background-color: #fc904f;
}

.hover\:bg-\[\#fc953f\]:hover {
  background-color: #fc953f;
}

.text-primary {
  color: #26496f;
}

.text-gray-600 {
  color: #333;
}